<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}   {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}

  {{insert style.html}}

  <title>Julia Users Trondheim</title>
</head>
<body>

<div class="franklin-content" style="height:80px;">
  <div style="position: relative; top:0px; right:0px; float: right; width:200px;">
    <img src="/assets/logo_thumbnail.png" style="width:100%;">
  </div>
</div>

{{insert nav.html}}


<!-- Content appended here -->
